.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

section {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.section1 {
    background-color: #4CAF50;
}

.section2 {
    height: 5000px;
    background-color: #2196F3;
    position: relative;
    overflow: hidden;
}

.moving-image {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(0px);
    /*transition: transform 0.1s linear;*/
}
.section3 {background-color: #FF5722;}
#movingImage {will-change: transform;}